{% extends "bootstrap/base.html"  %}
{% block content %}

<div class="container">
    <div class="jumbotron" style="background-color: aliceblue">
        <h2>Gender Classifier</h2>
        <p>Using Machine Learning</p>

    </div>
</div>

<div class="container">
    <form method="POST" action="{{ url_for('predict') }}">
        <input type="text" name="namequery">
        <button type="submit" class="btn btn-primary">Predict</button>
        
    </form>
</div>
{%  endblock %}

{% block styles%}
{{super()}}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/styles.css')}}">
{% endblock %}